---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  <div class="home-about">
      <div class="about-text">
          <h1>{{ page.greeter }}</h1>
          {{ content }}
      </div>

      {% if page.front_img %}
      <div class="about-image">
          <img src="{{ page.front_img }}" alt="Test">
      </div>
      {% endif %}
  </div>

  <h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>

  {% assign posts_to_show = site.posts | limit: 5 %}

  <div class="entries-list">
    {% include documents-collection.html entries=posts_to_show %}
  </div>

</div>


